<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl as ctrl">
    <div><h3>Password confirmation!</h3>
        <form name="myForm">
            <label for="newPassword">New Password</label>
            <div>
                <input type="text" name="newPassword" id="newPassword" ng-change="ctrl.checkPassMatch()" ng-model="ctrl.passwordOne" required>
                <span ng-show="myForm.newPassword.$touched && myForm.newPassword.$invalid">The new password is required</span>
            </div></br>
            <label for="verifyPassword">Confirm Password</label>
            <div>
                <input type="text" name="verifyPassword" id="verifyPassword" ng-change="ctrl.checkPassMatch()" ng-model="ctrl.passwordTwo" required>
                <span ng-show="myForm.verifyPassword.$touched && myForm.verifyPassword.$invalid">Please re-type your password</span>
                <span ng-show="myForm.verifyPassword.$valid && ctrl.passMatched == false">Password not match</span>
            </div></br>    
            <div>
                <button ng-click="ctrl.resetPasswordClicked()" ng-disabled="ctrl.passMatch == false" value="Reset Password">Reset Password</button>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    
    app.controller('myCtrl', function($scope, $http, $window) {
        self = this; 
        self.token = document.location.href.split('token=')[1];
        self.passMatched = false;

        self.checkPassMatch = function() {
            if (self.passwordOne == self.passwordTwo) {
                self.passMatched = true;
            } else self.passMatched = false;
        }
        
        self.resetPasswordClicked = function() {
            self.data = {
                "newPassword": self.passwordOne,
                "token": self.token
            };
            //ajax call
            $http.post("/reset_password", self.data).then(function(response) {

                if (response.status == 200) {
                    $window.location.href = 'http://localhost:3000/reset_password/success';
                } else {
                    alert('something went wrong');
                }

            });
        }
    });
</script>

</html>
